/* packages */
.pro {
    text-align: center;
    margin-bottom: 40px;
    padding: 50px;
}

.pro .section-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1a2b6d; /* Màu xanh đậm */
    position: relative;
    display: inline-block;
}

.pro .section-title::before,
.pro .section-title::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #1a2b6d;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
   
}

.pro h1 {
    font-size: 36px;
    font-weight: bold;
    color: #111; /* Màu đen */
    margin-bottom: 10px;
    padding-top: 50px;
}

.pro p {
    font-size: 16px;
    color: #555; /* Màu xám nhẹ */
    margin-bottom: 0;
}

.container {
    display: flex;
    justify-content: space-between;
}
.image-container, .text-container {
    width: 48%; /* Mỗi bên chiếm 48% chiều rộng */
}
.image-container {
    position: relative;
    width: 50%;
    overflow: hidden;
    border-radius: 10px;
    
}
.text-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.text-container h2 {
    font-size: 44px;
    font-weight: bold;
    color: #4c09e7;
    margin-bottom: 10px;
    text-align: center;
}
.text-container p{
    color: rgb(35, 35, 32);
    font-size: 20px;
    font-style: italic; /* Chữ nghiêng */
    font-weight: bold; /* Chữ in đậm */
    padding-bottom: 20px;
}
.cart a {
    width: 50%;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;     /* Căn giữa theo chiều dọc */
    text-align: center;
    margin: 0 auto;           /* Căn giữa nút trong container */
    
}
